<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left"> <%= @org.name %> </h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p> <%= raw(@org.desc) %> </p>
      <div class="code-body">
        <% if @codes.empty? %>
          <h3> Organization has yet to add codes! </h3>
        <% else %>
  
          <table class="table table-responsive table-hover table-striped" id="posts-table-list">
            <thead>
              <th> Code </th>
              <th> Year </th>
            </thead>
            <tbody>
              <% @codes.each do |code| %>
                <td> <%= link_to code.code_title, {controller: :codes, action: :show, id: code.id} %></td>
                <td> <%= code.code_year %> </td>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
</div>
